* {
    box-sizing: border-box;
}

body {
    font-family: 'Cinzel', serif;  
    background-color: black;
    color: white;
    text-align: center;
}

#header {
    margin:auto;
    text-align: center;
}

#topText {
    font-size: 20px;
}

#headerImg {
    width: 325px;
    height: auto;
}

h1 {
    margin-top: 0px;
}

#mainSection {
    margin: auto;
    width: 600px;
}

#livesLeft {
    color: #ff3300;
    font-size: 22px;
}

#wrongLetters {
    color: #ff3300;
    font-size: 20px; 
}

#reset {
    background: #ff3300;
    border-color:#990033; 
    font-family: 'Cinzel', serif;  
    color: black;
    font-weight: bold;
}

#wins {
    font-size: 22px;
    color: #0099ff;
}

#guessWord {
    font-size: 30px;
}

#tyrion {
    float: left;
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 40%;
    width: 365px;
    height: auto;
    border-radius: 7%;
    border-color: #0099ff;
}

#walker {
    float: right;
    display: block;
    margin-right: 5%;
    margin-bottom: 40%;
    margin-left: 5%;
    border-radius: 7%;
    width: 350px;
    height: 220px;
}

audio {
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
    width: 200px;
    height: 25px;
}